Oculus_Quest/Library/metadata/
Oculus_Quest/Library/PackageCache/
Oculus_Quest/Library/ShaderCache/
*.db
Oculus_Quest/Library/shadercompiler-UnityShaderCompiler.exe0.log
Oculus_Quest/Logs/Packages-Update.log
Oculus_Quest/Temp/
